<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<title>Luigi's Pizzeria</title>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning">
			<div class="container-fluid">

				<div class="d-flex justify-content-start mt-2">
					<a class="navbar-brand fw-bold m-auto" th:href="@{/}"><img
						th:src="@{/img/luigis.png}" width="140px" height="110px"
						alt="logo" /></a>
				</div>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">

					<span class="navbar-toggler-icon"></span>

				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mt-3 mb-lg-0">
						<li class="nav-item fw-bold"><a th:href="@{/pizzas}"
							class="nav-link">Pizzas</a></li>
						<li class="nav-item fw-bold"><a th:href="@{/drink}"
							class="nav-link">Drinks</a></li>
						<li class="nav-item fw-bold"><a class="nav-link"
							th:href="@{/globalsearch}">Search by name</a></li>
						<li class="nav-item fw-bold"><a class="nav-link"
							th:href="@{/promotion}">Promotions</a></li>
						<li class="nav-item fw-bold"><a class="nav-link"
							th:href="@{/ingredient}">Our ingredients</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
	<h5 class="mt-4">
			Logged user: <span sec:authentication="name"></span>
		</h5>
		<div class="row">
			<div class="col">
				<h1 class="mt-5 text-center">
					Luigi's Promotion List <img class="m-auto"
						th:src="@{/img/pizza.png}" width="80px" height="80px" alt="pizza" />
				</h1>

				<h2 class="text-center" th:if="${promotions.isEmpty()}">There
					are no available promotions</h2>
				<div class="d-flex justify-content-end mb-2">
					<div>
						<a href="/promotion/admin/create" class="btn btn-success mb-1 fw-bold">Add
							a new Promotion</a>
					</div>
				</div>
				<table class="table table-primary table-striped">
					<tr class="text-center">
						<th>Title</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Pizzas</th>
						<th>Available Actions</th>

					</tr>
					<tr class="text-center" th:each="promotion : ${promotions}"
						th:object="${promotion}">
						<td th:text="*{title}"></td>
						<td th:text="*{initialDate}"></td>
						<td th:text="*{endDate}"></td>
						<td>
							<p th:each="pizza : ${promotion.pizzas}">[[${pizza.name}]]</p>
						</td>
						<td> 
						
						<a
							th:href="@{/promotion/admin/delete/{id}(id=${promotion.id})}"
							class="btn btn-danger fw-bold">Delete</a></td>

					</tr>
				</table>
				<div class="d-flex justify-content-end">
					<a th:href="@{/}" class="btn btn-primary fw-bold">Go Home =></a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
