<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<title>Luigi's Pizzeria</title>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning">
			<div class="container-fluid">

				<div class="d-flex justify-content-start mt-2">
					<a class="navbar-brand fw-bold m-auto" th:href="@{/}"><img
						th:src="@{/img/luigis.png}" width="140px" height="110px"
						alt="logo" /></a>
				</div>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">

					<span class="navbar-toggler-icon"></span>

				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mt-3 mb-lg-0">
						<li class="nav-item fw-bold"><a th:href="@{/pizzas}"
							class="nav-link">Pizzas</a></li>
						<li class="nav-item fw-bold"><a th:href="@{/drink}"
							class="nav-link">Drinks</a></li>
						<li class="nav-item fw-bold"><a class="nav-link"
							th:href="@{/globalsearch}">Search by name</a></li>
						<li class="nav-item fw-bold"><a class="nav-link"
							th:href="@{/promotion}">Promotions</a></li>
						<li class="nav-item fw-bold"><a class="nav-link"
							th:href="@{/ingredient}">Our ingredients</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
	<h5 class="mt-4">
			Logged user: <span sec:authentication="name"></span>
		</h5>
		<div class="row">
			<div class="col">

				<h1 class="mt-5 text-center">
					Luigi's Pizzas List <img class="m-auto" th:src="@{/img/pizza.png}"
						width="80px" height="80px" alt="pizza" />
				</h1>

				<h2 class="text-center" th:if="${pizzas.isEmpty()}">There are
					no available pizzas</h2>
				<div class="d-flex justify-content-between mb-2">
					<div>
						<a href="/pizzas/user/search" class="btn btn-primary fw-bold">Find
							your pizza</a>
					</div>
					<div>
						<a href="/pizzas/admin/create" class="btn btn-success mb-1 fw-bold">Add
							a new Pizza</a>
					</div>
				</div>
				<table class="table table-primary table-striped">
					<tr class="text-center">
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Promotion</th>
						<th>Ingredients</th>
						<th>Available actions</th>
					</tr>
					<tr class="text-center" th:each="pizza : ${pizzas}"
						th:object="${pizza}">
						<td th:text="*{name}"></td>
						<td th:text="*{description}"></td>
						<td th:text="*{price}"></td>
						<td th:text="*{promotion}">Promotion</td>
						<td th:text="*{ingredients}">Ingredients</td>
						<td class="d-flex"><a th:href="@{/pizzas/admin/edit/{id}(id=${pizza.id})}"
							class="btn btn-warning fw-bold mx-2">Modify</a> <a
							th:href="@{/pizzas/admin/delete/{id}(id=${pizza.id})}"
							class="btn btn-danger fw-bold">Delete</a></td>
					</tr>
				</table>
				<div class="d-flex justify-content-end">
					<a th:href="@{/drink}" class="btn btn-primary fw-bold">Go to
						Drinks =></a>
				</div>
			</div>
		</div>
	</div>







</body>
</html>
